[2018-12-27 12:17] #905 closed

[2018-12-28 14:43] evectis opened #1051 "CNCF Project count in downloaded CSV vs. Interactive Landscape CNCF Project count"
This issues seems to be related to how the Interactive Landscape  is rendered.
CNCF Project count in downloaded CSV is 36.
Interactive Landscape CNCF Project count (when CNCF Relation is equal to CNCF Projects) is 32 (Graduated CNCF Projects = 3, Incubating CNCF Projects = 17 and Cloud Native Sandbox Projects = 12).
Interactive Landscape is missing the 4 following projects in its count:
1. Contain

[2018-12-28 15:21] dankohn commented on #1051
https://landscape.cncf.io/project=hosted,graduated,incubating,sandbox correctly shows 32 items both on the web and when downloaded as a CSV.

https://landscape.cncf.io/grouping=organization&organization=cloud-native-computing-foundation-cncf correctly shows 36 items, both on the web and as a CSV,

Those 4 projects are hosted by CNCF but not top-level projects.

I don't see a bug.

[2018-12-28 15:55] evectis commented on #1051
What level are these projects?

[2018-12-28 16:47] dankohn commented on #1051
CSI is a separate project controlled by Google, which I've now fixed: https://landscape.cncf.io/selected=container-storage-interface-csi

CRI-O, kops, and Minikube are all part of the Kubernetes project.

[2018-12-28 16:55] evectis commented on #1051
Does it make sense to add a 4th grouping of CNCF Projects that includes CRI-O, kops, and Minikube and is selectable along with graduated, incubating and sandbox in the "CNCF Relation" filter so that all 35 project cards are shown when CNCF Relation = CNCF Projects?

[2018-12-28 17:01] dankohn commented on #1051
Thanks, but I think those 3 subprojects are enough of a special case that
I'd rather not call them out explicitly.

Note that you can see all 4 categories of CNCF-hosted projects with this
view:
https://landscape.cncf.io/organization=cloud-native-computing-foundation-cncf&project=hosted,graduated,incubating,sandbox,member
--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Compu

[2018-12-28 17:11] evectis commented on #1051
That works for me......have a Happy New Year!

[2018-12-28 17:11] #1051 closed

[2019-01-07 19:48] evectis opened #1061 "License = "Other" for these Apache License 2.0 licensed CNCF Projects?"
These 3 CNCF Projects show a License = "Other"

1. Harbor
2. The Update Framework (TUF)
3. Cortex

They all seem to adhere to the Apache License 2.0 (although, as allowed by this license, one or more of them may have added a Copyright clause to their version of the Apache License 2.0 language)

[2019-01-10 22:40] dankohn opened #1067 "Remove non-updated items"
[code]

[2019-01-10 22:43] #1067 closed

[2019-01-27 03:11] ad-m opened #1095 "Criteria for adding companies"
I carefully reviewed the sections of the Readme covering new entries, corrections, and logos. I see very clear criteria for add new products (300+ GitHub stars etc.). However, I do not see any objective criteria for companies.

How are the companies qualified to be listed? What conditions must the company meet? I wonder if the companies operating in this area from Poland are suitable to be mention

[2019-01-27 03:42] dankohn commented on #1095
Please read the https://github.com/cncf/toc/blob/master/DEFINITION.md that we link to. We're happy to cover closed source cloud native offerings from Polish companies, though we'd want to have the offering page in English.

If you have a consulting company, we would encourage you to become a KCSP and then get listed: https://www.cncf.io/certification/kcsp/

[2019-01-27 03:42] #1095 closed

[2019-02-14 14:42] addikt1 opened #1106 "BrowserSync alternative for prod"
Question: BrowserSync is included for testing the dist build locally, but I'm trying to run this in a containerized platform and don't want it synchronizing Browser behaviors. I swapped it out for Express, but copy/paste of URls with query params will never work (syncToUrl.js seems to not trigger). What are you guys running for a web server in your hosted environment, and is there some trick to ge

[2019-02-14 15:05] dankohn commented on #1106
We're happy to help but I don't understand the problem you're having.

NPM should install into your container all software necessary for the integration tests, including chromium via puppeteer. We're just using browser-sync to run a simple web server: https://github.com/cncf/landscapeapp/blob/master/tools/ciServer.js

The actual web server to run in production can be any server that serves out the

[2019-02-14 16:28] addikt1 commented on #1106
Thanks, Dan. After taking a different tac on this, I was able to properly configure Express to work in this single-page-application paradigm.

As for Puppeteer ... thats a whole different challenge re: installing and running chromium in a containerized build environment (probably a different Issue), so any insights there are appreciated.

[2019-02-14 16:28] #1106 closed

[2019-02-25 22:23] evectis opened #1124 "Download as CSV does not download entire landcapse any longer"
Using the "Download as CSV" link used to download the entire landscape (i.e. 638 rows), now when clicking on the "Download as CSV" link the resulting .csv file is truncated on the 47th row for some reason.

[2019-02-26 03:07] dankohn commented on #1124
Thanks for the bug report! We'll work on this right away.

[2019-02-26 12:01] dankohn commented on #1124
Moved to other repo.

[2019-02-26 12:01] #1124 closed

[2019-02-27 21:29] dankohn commented on #1124
This is now resolved. @evectis thanks very much for reporting. The bug was improper escaping of `#`.

[2019-03-05 18:10] evectis commented on #1124
@dankohn , hello again, just did a download of entire landscape, expected 644 rows and only got 586 rows.  Seems there is still some kind of a bug.

[2019-03-05 18:17] dankohn commented on #1124
Apologies, I confirm this still isn't working. I'll reopen https://github.com/cncf/landscapeapp/issues/179.

[2019-03-06 17:58] evectis commented on #1124
Working perfectly now...Thanks!

[2019-03-06 18:03] dankohn commented on #1124
Thank you for the report!

[2019-03-13 20:22] dkmbw opened #1149 "Create an self-hosted filter on the interactive version"
Please add a filter to show which software can be completely built and run on self-hosted/on-premise datacenters

[2019-03-22 17:04] addikt1 opened #1169 "Github Enterprise"
Sorry for the trivial question, but I'm trying to reference internal GitHub Enterprise repos for some items and the build keeps returning 404 in getReleaseDates when I can successfully hit the URLs in a browser. If I need to be using some sort of GitHub auth token, where do I put/use/export this?

[2019-03-22 17:09] dankohn commented on #1169
`export GITHUB_KEY=your-key-here` in your `.bash_profile`. Please feel free to share details about your use case if you're able.

[2019-03-22 19:14] addikt1 commented on #1169
hmm, i have done that, but I still get a 404 when running `yarn fetch` and attempting to access a URL like https://github.mydomain.com/myorg/myrepo/releases in getReleaseDates. I've modified the code to go against the internal URL vs github.com exclusively. The repo is public, too, which deepens my confusion.

[2019-03-23 01:00] dankohn commented on #1169
We only support GitHub URLs of the form github.com/org/repo. Adding in
/releases is confusing it.
--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Fri, Mar 22, 2019 at 3:14 PM Jesse <notifications@github.com> wrote:

[2019-03-23 03:09] addikt1 commented on #1169
I was just referring to the URL created from the getReleaseDate function in https://github.com/cncf/landscapeapp/blob/master/tools/githubDates.js

[2019-03-23 13:32] ZeusTheTrueGod commented on #1169
Hi, @addikt1 , as an author of githubDates.js, I can explain how we got this to work.
We are relying on a scraping tool to find the latest page with commits, and on that latest page we look for the date of a first commit. To make it faster, I use a binary search with a maximum page number about 250000. It is absolutely possible that gitlab has a bit different user interface.
Regarding a release da

[2019-03-24 19:29] addikt1 commented on #1169
I'll keep working on it

[2019-03-24 19:29] #1169 closed

[2019-04-24 16:39] addikt1 opened #1197 "Query API"
Requesting enhancement:  REST API to query Categories and return list of technologies, followed by an API to get details for a specific technology

[2019-04-24 18:42] dankohn commented on #1197
We'd love to help you, but it's not really feasible given our current architecture. The entire app is a static file with all of the logic in the client. So, you're better off loading in the YAML or JSON to the server of your choice and implementing your own REST API.

[2019-04-24 18:42] #1197 closed

[2019-05-14 12:07] dkmbw commented on #1149
Alternatively following filters could be suggested:
* can be run on an airgapped network
* can be built on an airgapped network
* can be built only with opensource tools/systems
* can be run with only opensource-systems
* can be run without license management system

perhaps this is easier to filter.

[2019-06-07 20:59] caniszczyk opened #1261 "Update Kraken logo"
Uber Kraken now has a logo

https://github.com/uber/kraken/pull/177

[2019-06-07 21:33] #1261 closed

[2019-06-15 21:31] oliviertassinari commented on #993
@ZeusTheTrueGod Thanks for the tip, I was looking for it!

[2019-07-25 12:04] dankohn commented on #1149
Sorry for the long delay in my response. Note that adding new filters at this point is quite challenging, as we need to back-fill the information across 581 cards: https://landscape.cncf.io/category=provisioning,runtime,orchestration-management,app-definition-and-development,platform,serverless,observability-and-analysis&format=card-mode&grouping=category

However, nearly all of the open source pr

[2019-07-25 12:04] #1149 closed

[2019-07-25 12:14] dankohn commented on #1061
Sorry for the long delay in my response. Here are the current non-Apache licensed CNCF-hosted projects:

https://landscape.cncf.io/format=card-mode&grouping=no&license=bsd-2-clause-simplified-license,bsd-3-clause-new-or-revised-license,gnu-affero-general-public-license-v3-0,gnu-general-public-license-v2-0,gnu-general-public-license-v3-0,gnu-lesser-general-public-license-v2-1,gnu-lesser-general-pub

[2019-07-25 12:14] #1061 closed

[2019-07-25 13:17] dkmbw commented on #1149
Well, Travis-CI is there, too. And you cannot self-host That as far as i am aware.

AND: Though most may be buildable and installable and runnable on an airgapped network, it is often not sustainable. Did you ever try to build and run Hadoop or Gitlab (just an example) on your virtual machine which is a current debian, centos or ubuntu lts? This is one HUGE undertaking, where every upgrade is an M

[2019-07-25 13:41] dankohn commented on #1149
My understanding is that Travis is 100% open source so you could self-host, though no one bothers to do so because it is not competitive with the alternative offerings. If that's not the case, we'd remove the `repo_url` and show it as closed source.

I think you may be conflating support for an airgapped network with not being able to build for yourself. 100% of the open source projects listed on

[2019-08-20 14:41] soheilade opened #1369 "installer vs distribution"
in the cncf landscape there are 2 sections for k8s **distributions** and k8s **installers**. Does an installer include a distribution as well? Can an installer have multiple distributions?

[2019-08-20 14:58] dankohn commented on #1369
Please see the definitions here: https://github.com/cncf/k8s-conformance/blob/master/faq.md#what-is-a-distribution-hosted-platform-and-an-installer

The vendor has some discretion is deciding whether to call their Certified Kubernetes implementation a distribution or an installer.

[2019-08-20 14:58] #1369 closed

[2019-09-23 14:38] oicheryl opened #1417 "Add a filter for specifications"
Goal: Make it easy for government procurement to refer to product neutral requirements.

Description: Government procurement teams cannot require individual tools/projects ("use Envoy") and instead need to cite APIs/specifications ("compatible with the Container Runtime Interface").

Request: Could we add a filter for specifications to the left hand side of l.cncf.io, so they can easily find all t

[2019-11-28 13:39] SS-TT opened #1485 "Dead link in INSTALL.md + missing script for local development"
Hi there.

`INSTALL.md` file has a link to [this script](https://github.com/cncf/landscapeapp/blob/master/update_server/setup.template), which gives 404 error.

Also, on local development instructions you have

* `npm run open:src` (starts a development server) or
* `npm run build`, then `npm run open:dist` (compiles and opens a production build)

but, besides `npm run build`, other commands are n

[2019-11-28 14:06] dankohn commented on #1485
Thanks for the bug report. You found some out-of-date instructions. Could you please try the updated ones I link to with https://github.com/cncf/landscape/commit/3dc63bca7530023a5e9ff198f06cc1618914002e and open a new issue if you still have build errors.

[2019-11-28 14:06] #1485 closed

[2020-01-27 06:46] MrBW opened #1531 "Add chaosmesh to the Chaos Enginnering tools"
Hi CNCF team,

congrats for your awesome landscape project. Well done!
We are a young start-up from Europe (Germany) and are founded in October 2019. We develop and operate a Chaos Engineering Platform, which we offer as SaaS or On-Prem solution.

We would be very happy if we can become part of your landscape.

Our website can be found at [chaosmesh.com](https://www.chaosmesh.com/) and our logo is

[2020-01-27 12:13] dankohn commented on #1531
Please follow the directions on https://github.com/cncf/landscape#new-entries to add yourself.

Note that PingCAP's open source project https://landscape.cncf.io/selected=chaos-mesh with 1300 stars has the same name, so you should consider whether you want to enter the market with an identical name.

For GitHub, you need a repo, not an org.

Feel free to ask if you have trouble setting up your ent

[2020-01-27 12:13] #1531 closed

[2020-01-27 12:20] MrBW commented on #1531
Thank you for the description and the hint.

We are in contact with PingCAP, because they decided to rename their project about 20 days ago and did not check if there was already a company with this name.

[2020-04-14 15:33] bwplotka opened #1632 "Provide categorisation of projects per SIG group."
I might be wrong, but I think this is not possible at the moment, right?

The rationales are that with the recent creation of SIG Observability I feel like slowly each project within CNCF can be easily assigned to each SIG. It would be awesome for the landscape to quickly give that information and become source of truth. What do you think? (:

CC @idvoretskyi @caniszczyk

## Acceptance Criteria:

[2020-04-29 17:18] sreesarva opened #1658 "Please add NetFoundry logo to Cloud native Networking landscape"
Creating an issues per email from Chris to add the logo:

On Wed, Apr 29, 2020 at 10:08 AM Chris Aniszczyk <caniszczyk@linuxfoundation.org> wrote:
Yes, just please send a PR :)
On Wed, Apr 29, 2020 at 12:05 PM Sreelakshmi Sarva <sree.sarva@netfoundry.io> wrote:
Hello Taylor  NetFoundry has been a silver member of CNCF with our opensource project for cloud native networking https://ziti.devCan you

[2020-05-06 01:39] cjyabraham opened #1668 "Chart needs some kind of title"
I think this chart here needs some kind of title or y-axis label so it's clear what it represents.  I wasn't sure if it was a count of the number of tweets, commits or what:
<img width="1109" alt="Screen Shot 2020-05-06 at 9 24 49 AM" src="https://user-images.githubusercontent.com/463160/81131343-6d8f1900-8f7d-11ea-9ac8-9d2111cddbe6.png">

[2020-05-06 11:31] dankohn commented on #1668
Closed for https://github.com/cncf/landscapeapp/issues/552

[2020-05-06 11:31] #1668 closed

[2020-05-12 20:52] caniszczyk commented on #1658
please create a PR

[2020-05-12 20:52] #1658 closed

[2020-05-15 21:09] richarddli opened #1678 "Better categorization of service proxy / ingress"
In the current landscape, the service proxy & API Gateway categories overlap and are confusing. In general, a service proxy is a client-side proxy that enables applications to send and receive traffic. Examples of service proxies include HAProxy, Envoy Proxy, Traefik, and NGINX.

Service Proxies are usually managed with "control planes". In Kubernetes, these control planes are ingress controllers.

[2020-05-17 18:08] dankohn commented on #1678
We're open to making this change. Could you please fully flesh out the proposal (i.e., what goes where). Note that the complexity of Service Proxy, API Gateway, Service Mesh was designed to be increasing from left to right.

[2020-05-22 10:43] jordinl83 opened #1683 "Find right stock ticker for inspur and bonc"
We're getting errors when fetching the market cap for the following companies:

https://www.crunchbase.com/organization/inspur

[code]

https://www.crunchbase.com/organization/bonc

[code]

Couldn't find what the right values were for these, so I set them to `null` for now.

[2020-06-04 10:25] dankohn commented on #1678
Please reopen with a concrete suggestion of exactlt what goes where.

[2020-06-04 10:25] #1678 closed

[2020-06-04 10:27] dankohn commented on #1632
I believe each subcategory can easily be assigned to a SIG, so there's no need for extra landscape functionality. Specifically, everything under Observability & Analysis belongs to SIG Observability. https://landscape.cncf.io/category=observability-and-analysis&format=card-mode&grouping=category

[2020-06-04 10:27] #1632 closed

[2020-06-04 10:50] #1683 closed

[2020-06-05 09:55] bwplotka commented on #1632
I think that can work, for now, thank you!

[2020-06-05 11:36] dankohn commented on #1632
Great, thanks for engaging on this.

[2020-06-09 14:04] msohn opened #1704 "CNCF Bot didn't post URL of staging server for PR #1703"
I created PR #1703 5 hours ago and the bot still didn't yet provide the URL of a staging server so that I could check if the change looks ok

[2020-06-09 15:44] dankohn commented on #1704
We're investigating the build failure but it's resolved for now. https://github.com/cncf/landscape/pull/1703

[2020-06-09 15:44] #1704 closed

[2020-06-10 23:01] msohn opened #1705 "Gardener's CII badge isn't honored in landscape detail"
The Gardener project has a CII badge, see [1] and [1] is listed as the Gardener git repository in the CNCF landscape.yml [2] but the Gardener detail page in the rendered CNCF landscape says "No CII Best Practices" [3].  What's wrong here ?

[1] https://github.com/gardener/gardener
[2] https://github.com/cncf/landscape/blob/master/landscape.yml#L3301
[3] https://landscape.cncf.io/selected=gardener

[2020-06-11 00:23] #1705 closed

[2020-06-12 08:52] jordinl83 opened #1709 "Meshmark does not exist on Crunchbase"
The following URL cannot be found on Crunchbase:

https://www.crunchbase.com/organization/meshmark

I think the company has been renamed to:

https://www.crunchbase.com/organization/nobl9

[2020-06-12 11:12] dankohn commented on #1709
Fixed with https://github.com/cncf/landscape/commit/644804506cc58df8f199bb75ba274edb5a164096

[2020-06-12 11:12] #1709 closed

[2020-06-26 16:44] masonse opened #1734 "Netlify build failing #1732"
Can someone take a look at https://github.com/cncf/landscape/pull/1732 in which the netlify build is failing?

Thank you.

[2020-06-29 16:09] #1734 closed

[2020-07-10 20:32] AndreyKozlov1984 opened #1755 "Ensure that all members have CrunchBaseURL"
I will provide a list of elements which do not have a CrunchBaseURL in this request:
https://api-gw.platform.linuxfoundation.org/project-service/v1/public/projects/cncf/members?status=Active

[2020-07-10 20:35] AndreyKozlov1984 commented on #1755
These elements do not have a CrunchBaseURL property:
[code]

[2020-07-10 20:37] AndreyKozlov1984 commented on #1755
Those elements do not have a logo:
[code]

[2020-07-10 20:39] AndreyKozlov1984 commented on #1755
Now, members without a website:
[code]
I can fetch a website from a crunchbase, @dankohn , should I fetch it from there or that api request should always return entries with a website field ?

[2020-07-10 20:46] dankohn commented on #1755
We should fail if SFDC doesn't include a website.

[2020-07-10 21:29] taylorwaggoner commented on #1755
I added websites for the 3 that were missing

[2020-07-13 21:29] taylorwaggoner commented on #1755
For the Crunchbase entries, does the format in SFDC need to be /organization/companyname, rather than the full URL?

[2020-07-13 21:33] dankohn commented on #1755
No, that's just how it shows up in the API. Please make it look like other SFDC entries.

[2020-07-15 13:15] niravpatel27 commented on #1755
@dankohn FYI, we have moved logos from the account logo object to account.

[2020-07-15 15:22] AndreyKozlov1984 commented on #1755
Thank you!
Here is a list of remaining entries
[code]

[2020-07-15 15:42] niravpatel27 commented on #1755
@taylorwaggoner I dont see them in SFDC. Can you please add URL in SFDC?

[2020-07-15 17:08] taylorwaggoner commented on #1755
Beijing Teamsun Technology Co., Ltd. - they haven't provided a logo yet
IMIDDLEWARE - they haven't provided a logo yet

Conde Nast International - not a public member, no logo
Entegral - not a public member, no logo
Groupon - not a public member, no logo
Hobsons - not a public member, no logo
Nebulon - not a public member, no logo
Nordstrom, Inc. - not a public member, no logo
OpenTable - not a pu

[2020-07-15 17:11] dankohn commented on #1755
@niravpatel27 Non-public members should not be served via the API. Is there a checkbox to prevent that, separate from whether we have a logo for them?

[2020-07-15 17:21] niravpatel27 commented on #1755
@dankohn @taylorwaggoner Lets brainstorm this.
**Entegral** has End-User Membership 2020 which is expiring in Aug 2020
**Conde Nast International** has End-User Membership 2020

Looks like all has End-User Membership 2020.

If you don't want to display End User Membership then could you please add logic while you looping over?
i.e skip where `Membership.name = End-User Membership`

[code]

[2020-07-15 19:01] dankohn commented on #1755
No, end user membership is orthogonal from nonpublic members. You can see on https://landscape.cncf.io/format=members&organization=non-public-unnamed-organization that we currently have 14 non-public members: 1 silver, 3 silver end user, 9 end user supporter, and 1 nonprofit.

It would probably be better if you could create an account on https://slack.cncf.io and ping me there to discuss.

[2020-08-26 17:01] TommyUnger opened #1804 "A suggestion on the website regarding transparent SVGs and/or PNG"
I noticed that a lot of the landscape website is filled with SVGs and/or transparent PNGs. I was wondering if you could adopt an approach that puts white backgrounds on all logos. Because the way it works now is that there are grey backgrounds and white backgrounds. It might help the experience to keep all logos on a white background.

Maybe just something like this?
[code]

Otherwise I wanted to

[2020-08-26 17:29] TommyUnger commented on #1804
Oh. I figured out there's logic here. Non-OSS vs OSS. Sorry for the trouble.

[2020-08-26 17:29] #1804 closed

[2020-08-26 20:06] dankohn commented on #1804
No worries. We're always glad when people are looking closely enough to have suggestions.

[2020-10-30 00:19] buzzsurfr opened #1885 "Add text to AWS App Mesh logo"
I need help adding the name of the product to the SVG logo. I just submitted PR #1884 which includes the base logo (without text).

The logo is in the PR in my fork. [buzzsurfr/landscape/hosted_logos/aws-app-mesh.svg](https://github.com/buzzsurfr/landscape/blob/master/hosted_logos/aws-app-mesh.svg) ([RAW](https://raw.githubusercontent.com/buzzsurfr/landscape/master/hosted_logos/aws-app-mesh.svg))

[2020-11-10 20:10] chuckdubuqueRH opened #1896 "Update Red Hat logos"
Red Hat logos need to be updated for Red Hat OpenShift, and Red Hat OpenShift Dedicated
[Archive.zip](https://github.com/cncf/landscape/files/5519915/Archive.zip)

[2020-11-25 11:10] KrissiWi opened #1912 "Update Kubermatic Company Logo"
Hello,

we do have a new logo so our svg requires updating.

https://drive.google.com/file/d/1zMB_SDQ_Z5drgQVuFpt1aYfjqCyifuSy/view?usp=sharing

Thanks,

Kristin

[2020-11-25 11:11] KrissiWi commented on #1912
@taylorwaggoner : I tried once again to upload the svg but where not able to. If the problem is on my side, thanks for advising.

Best,

Kristin

[2020-11-25 20:31] taylorwaggoner commented on #1912
Opened a PR in #1913, thanks!

[2020-11-25 20:31] #1912 closed

[2020-12-03 01:28] coderanger opened #1923 "CRI Implementation metadata"
There is already a category for "container runtimes" which is great but is more generally scoped, it would be nice if there was some way to get a list specifically of CRI implementations, or runtimes that are CRI compatible. Not sure if this should be a new `implements CRI: true` field, or a category, or something else :) With the Dockershim deprecation, a lot of folks will want to see their optio

[2020-12-13 08:30] goat023 commented on #1896
I'm would like to contribute to this issue, but I'm new here. can someone guide me?

[2021-01-03 03:19] cjyabraham opened #1947 "Landscape loads slow in Bali and likely other locations"
I am located in Bali, Indonesia and [observe this on pages which try and load a landscape via an iframe](https://drive.google.com/file/d/1uLJmwdcxWj96bS8gWS4cCa6gDmJkmgcg/view?usp=sharing).  Note in the recording that the cncf.io page loads almost instantly and, meanwhile, it takes the landscape iframe 29s to load.  My guess is most users won't even know to wait and won't see it at all.

[2021-01-08 17:24] caniszczyk opened #1949 "Add a note at the top of the landscape regarding CNCF projects"
We should add a little yellow caution note near the top

"Note: Not all projects listed on the landscape are formally part of the CNCF. The Cloud Native Landscape is meant to be an exhaustive list of technology across the cloud native ecosystem. To get the full list of CNCF projects, you can visit this part of the landscape: https://landscape.cncf.io/format=card-mode&project=hosted"

[2021-01-08 17:27] caniszczyk commented on #1949
@AndreyKozlov1984 can you PR a change with this note?

[2021-01-19 13:54] cjyabraham commented on #1947
I reported this issue to the landscape team and they have [released a performance improvement](https://github.com/cncf/landscapeapp/pull/685) that allows for pre-rendering of certain pages.  This has now been setup for the cncf landscape and I have deployed the pre-rendered versions of the landscape to these pages:
- [Members](https://www.cncf.io/about/members/)
- [Training](https://www.cncf.io/ce

[2021-01-25 00:57] Xunzhuo opened #1971 "Why does Consul belong to Service Mesh not Service Discovery？"
### Don't create an issue

If you see an error in the cards or missing ones, please don't create an issue here. Instead, edit landscape.yml (you can even do it via the GitHub web interface) and open a pull request. Then, review the preview staging server that's posted to your pull request and add a comment if your new or updated card looks correct and is ready to merge. Before going forward, pleas

[2021-01-25 01:01] #1971 closed

[2021-01-25 09:05] Arhell opened #1972 "Deprecation url"
Is it possible to fix this?
https://github.com/kubernetes/website/issues/26156

[2021-01-26 11:59] Arhell commented on #1972
fix

[2021-01-26 11:59] #1972 closed

[2021-02-03 00:45] caniszczyk opened #1986 "Add GitPod support to edit the landscape"
This in theory should make it easier to make changes to the landscape for folks that are new.

[2021-02-15 21:21] jselleck opened #2006 "Referenced data.json file on https://github.com/cncf/landscape is not returning valid json."
We rely on the data.json to feed an internal Software Governance tool.   This file seems to be missing.

Reference in docs: https://github.com/cncf/landscape

[2021-02-16 16:34] caniszczyk commented on #2006
@jordinl83 @AndreyKozlov1984 any thoughts here on this file?

[2021-02-16 16:44] jordinl83 commented on #2006
The file was moved as part of the next.js refactor. The new location is: https://landscape.cncf.io/data/items.json

[2021-02-16 17:47] jselleck commented on #2006
Got it.  Thanks!  The docs that reference the file need to be updated.  I really appreciate you guys!

[2021-02-18 08:50] jordinl83 commented on #2006
@jselleck Updated readme. Thanks

[2021-02-18 08:50] #2006 closed

[2021-02-19 01:52] qedrakmar opened #2009 "A new subcategory under Observability and Analysis"
We want to discuss a potential new category under Observability and Analysis.  We (StormForge) are currently listed under the Monitoring section, for lack of a better place to go.  The functionality of the platform, though, is much more accurately described as "Performance Testing and Application Optimization", and there is not really an appropriate subcategory under any category for experimenting

[2021-02-19 18:43] caniszczyk commented on #2009
I'm open to it, can you outline the new category and who would be there?

[2021-02-26 19:52] caniszczyk opened #2022 "Landscape layout issues"
<img width="787" alt="Screen Shot 2021-02-26 at 1 51 49 PM" src="https://user-images.githubusercontent.com/63777/109348193-d364ce00-7839-11eb-87c3-160e1cff5634.png">

@jordinl83 can you fix this ;)?

[2021-02-26 21:34] #1885 closed

[2021-02-27 06:57] jordinl83 commented on #2022
@caniszczyk Special category grew too large. I made more room for it.

[2021-02-27 06:57] #2022 closed

[2021-03-12 19:17] steveonjava opened #2035 "Cross linking of CNCF and CDF landscapes"
In discussions between the CNCF and CDF groups with Chris, Priyanka, Tracy, and myself, we would like to provide better visibility of these two landscapes with each other since there is a lot of overlap.

We had two ideas on how to showcase this to users:

1. Put a box for the CDF inside of the Continuous Integration and Delivery box in the CNCF landscape (and do something similar on the CDF side)

[2021-03-12 20:34] steveonjava commented on #2035
I moved this issue to the CNCF landscape app project instead: https://github.com/cncf/landscapeapp/issues/716

[2021-03-12 20:34] #2035 closed

[2021-04-24 12:25] adithyaakrishna commented on #1896
Is this issue still open? or does it need any updating? 👀

[2021-04-25 16:04] xmulligan commented on #1896
this was closed with #1973

[2021-04-25 16:04] #1896 closed

[2021-04-30 10:02] JanZerebecki opened #2082 "Fix entries for projects that are not Open Source but are listed as such"
This is a tracking issue to fix entries for projects that are not Open Source but are listed as such.

[There are some notes on which entries in the CNCF Landscape marked as Open Source with license other or unknown are not Open Source.](https://github.com/JanZerebecki/landscape/blob/fix-non-open-source/fix-license.md)

Related issues:
https://github.com/cncf/landscape/issues/1061
https://github.c

[2021-05-01 15:20] #2082 closed

[2021-05-06 14:26] CathPag opened #2088 "Develop a CNCF landscape guide"
As part of the CNCF Business Value Subcommittee, we'd like to create a CNCF landscape guide that may overlap with some of the goals of the Cartografos group Cheryl Hung is putting together. To ensure we are all in synch, we reached out to Cheryl who suggested raising an issue here.

**Context**: Jason Morgan and I have written a series on the CNCF landscape for The New Stack which we'd like to ada

[2021-05-10 12:47] oicheryl commented on #2088
@CathPag this looks very feasible, but I do recommend you have a chat with Simon and the Cartografos group before starting. Does the meeting tomorrow work for you?

[2021-05-10 14:09] CathPag commented on #2088
Thanks, @saforster and @oicheryl! Hadn't had a chance to reply yet, but yes, we'll absolutely be there and are looking forward to it. Talk to you tomorrow!

[2021-05-21 16:35] qedrakmar commented on #2009
Okay, it's been a while, but we're getting back to this now.

The biggest defining characteristic of this category would be: products and projects that are focused on analyzing application or infrastructure behavior, then taking an **active** role in tuning various resources for desired outcomes, whether that's availability, performance, infra resilience, cost, or whatever other characteristics ar

[2021-08-27 14:25] jordinl83 opened #2263 "Invalid entries are causing the daily update job to fail"
[code]

[2021-08-30 08:26] jordinl83 commented on #2263
This seems resolved. Closing

[2021-08-30 08:26] #2263 closed

[2021-09-07 19:59] phumberdroz opened #2271 "Cards do not load correctly"
I am not sure what is causing this:
<img width="1308" alt="Screenshot 2021-09-07 at 21 58 32" src="https://user-images.githubusercontent.com/3389721/132403514-419b6e99-58b1-4d0c-ab9e-7be0a1e5eab2.png">
I checked the past couple of PR previews they all seemed to be fine. Maybe a redeploy could fix it?

[2021-09-07 20:37] caniszczyk commented on #2271
cc: @jordinl83 to investigate

[2021-09-08 09:42] jordinl83 commented on #2271
Seems like it was caused by https://github.com/cncf/landscapeapp/pull/770, which has been reverted.

[2021-09-08 09:42] #2271 closed

[2021-10-10 02:37] rajko-rad opened #2311 "Tracking existing/published landscapes built off of the cncf landscape app"
Hi,

Thank you so much for the incredible work on the CNCF landscape, it is an incredible resource and compilation :)

I was just curious, is there a list anywhere or a smart way to search the web for existing published landscapes using the app? I think it would be cool to add these to the readme.... I have seen the below, but not sure if there are more or not:

- https://landscape.cncf.io/
- http

[2021-10-10 13:10] caniszczyk commented on #2311
See landscapes.dev

On Sat, Oct 9, 2021 at 9:37 PM Rajko Radovanovic ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-10-26 11:24] dominikmeyersap opened #2337 "Framework"
Is there insights how this is created?
I look to generate something similar :)
Any docs or pointers?

Thank you.

[2021-10-29 20:33] dominikmeyersap commented on #2337
nevermind. those who read win 😕🤪
https://github.com/cncf/landscapeapp

[2021-10-29 20:33] #2337 closed

[2021-12-14 16:14] caniszczyk commented on #2088
https://landscape.cncf.io/guide

[2021-12-14 16:14] #2088 closed

[2021-12-14 16:16] caniszczyk opened #2387 "Create a Wasm sub landscape"
There's some interest in creating a Wasm landscape.

CNCF has some Wasm projects but there's a lot of Wasm projects out there to track.

This should be modeled after the Serverless sub landscape: https://landscape.cncf.io/serverless

First step is to come up with some categories.

[2021-12-14 20:40] voigt commented on #2387
Thank you @caniszczyk, as discussed in slack, here a rough sketch.

![CleanShot 2021-12-14 at 21 19 29](https://user-images.githubusercontent.com/2982698/146073358-abab6781-473c-47d5-a7d1-c72a3800ad40.png)

Some basic assumptions/comments:

- I focused on wasm in the backend - simply because that's my main interest. However, I think it is to be discussed, whether frontend/browser projects should b

[2021-12-15 15:33] caniszczyk commented on #2387
This is great, I'd remove the "supported/experimental languages" and keep the rest :)

[2021-12-15 16:29] brancz opened #2390 "Add (Continuous) Profiling section under observability"
There are a number of projects and products focusing on (continuous) profiling in the cloud-native ecosystem. They don't fit into monitoring, logging, or tracing, rather continuous profiling complements these.

[2021-12-15 16:30] caniszczyk commented on #2390
Which ones would you move/put in this category?

On Wed, Dec 15, 2021 at 10:29 AM Frederic Branczyk ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2021-12-15 16:34] brancz commented on #2390
Open source projects:

* https://www.parca.dev/
* https://github.com/profefe/profefe
* https://pyroscope.io/

Products:

* https://prodfiler.com/
* https://polarsignals.com/

Also, DataDog and Instana have products for this, but I'm not sure what the policy is about putting the same company on the landscape multiple times potentially. The projects and products above are all purely about continuous

[2021-12-16 15:46] voigt commented on #2387
I agree with you @caniszczyk - there is little value in listing languages.

How do we go from here?

[2021-12-17 17:40] juntao commented on #2387
Thanks! It looks great. But what is the difference between WASM runtime and WASM VM? 🤓

[2021-12-17 17:40] technosophos commented on #2387
Toolchain: It might good to split language toolchain/compilers/etc from things like optimizers (wasmopt)

I worry that "Installable Platform" is too broad of a category.

- Sat (Atmo in a container with a mesh) and wasmCloud are opinionated Wasm frameworks.
- Hippo is more or less a front-end for cloud runtimes (see below)

There's a class of what I can only call "cloud runtimes" which basically t

[2021-12-18 06:46] alabulei1 commented on #2387
Hi, we created this infographic in early 2021. Maybe it is still useful to this discussion :).
infographic: https://webassemblytoday.substack.com/p/webassembly-landscape
Git repo: https://webassemblytoday.substack.com/p/webassembly-landscape

[2021-12-18 16:57] voigt commented on #2387
That's great feedback! Thank you for your participation!

As I said - this is more a sketch than a proposal. Something to start off the discussion :)
When we were discussing categories, we felt like we might need some additional distinction between things like e.g. wasmtime and v8.

That's great stuff @alabulei1! I see you also listed languages; The more I think about it, the less I feel like ther

[2021-12-19 07:48] alabulei1 commented on #2387
I agree that it is probably too tedious to track programming languages since, as you mentioned, there are SDKs and tools for compiling language X to Wasm and then SDKs and tools for embedding Wasm to language X. However, on the other hand, some of the most common questions we got from our users are “how do I compile X to Wasm”? So, maybe language support should be tracked somewhere else. :) @voigt

[2022-01-03 22:09] sbernheim opened #2399 "Landscape Guide CI/CD section implies Flux is not a CNCF project"
The CNCF Landscape Guide's [Continuous Integration and Delivery section](https://landscape.cncf.io/guide#app-definition-and-development--continuous-integration-delivery) mentions Argo and Brigade as the only CNCF CI/CD projects.

This is the second paragraph under the **Technical 101** heading (emphasis added to highlight the relevant sentence).

[Flux](https://www.cncf.io/projects/flux/) is also

[2022-01-04 14:04] luc99hen opened #2402 "Questions about the usage of subdomain of OpenYurt Project"
Hi, guys. I am from [OpenYurt community](https://github.com/openyurtio).

Recently, we are preparing for a new project **OpenYurt Experience Center** for OpenYurt users.  And we consider that it would be great if the *experience center* could share the same domain name (something like `lab.openyurt.io`) with OpenYurt's current home page site(`openyurt.io`).

Since the home page domain is managed b

[2022-01-04 16:28] #2399 closed

[2022-01-21 18:48] taylorwaggoner opened #2436 "Create "End User" filter for CNCF members"
@AndreyKozlov1984 - is it possible to create a filter or landscape view for CNCF end users? My goal is to update [this slide](https://docs.google.com/presentation/d/1UGewu4MMYZobunfKr5sOGXsspcLOH_5XeCLyOHKh9LU/edit#slide=id.gc98d72cd14_1_1409) to have a more landscape-type view of the logos rather than the individual logos pasted in.  I'd like to have all end users sorted alphabetically, not by me

[2022-01-21 21:33] AndreyKozlov1984 commented on #2436
The filter is not in the user interface, but we support it in an url it is `enduser=yes`

https://landscape.cncf.io/card-mode?enduser=yes&grouping=no

Let me show you what could help you for your slide!

https://landscape.cncf.io/card-mode?enduser=yes&grouping=no&style=borderless&embed=true

https://landscape.cncf.io/card-mode?enduser=yes&grouping=no&style=flat&embed=true

[2022-01-21 22:09] taylorwaggoner commented on #2436
Thanks, I think I can make this work!

[2022-01-21 22:09] #2436 closed

[2022-02-02 21:42] caniszczyk opened #2454 "Consider adding a "Continuous Optimization" section (under Obs)"
Here are some companies/projects in the space:

<s>Spot by NetApp</s>
<s>Densify</s>
<s>Turbonomics</s> Moved!!!
<s>Opsani</s>
CloudZero
Granulate
StormForge
BMC Helix
CircleCI (via Vamp)
Zesty
Cast.ai

[2022-02-07 17:32] caniszczyk commented on #2390
@jordinl83 I think we need to consider redoing the observability section of the cloud native landscape

We can combine logging and tracing and monitoring into just "Telemetry" and lump everything there.

We can then add  the"Continuous Profiling" section

[2022-02-10 01:03] andreuxxxx opened #2467 "UX / UI Initiative"
Hello, my name is Andrea Velázquez, UX/UI expert and instructor at George Washington University UX/UI Bootcamps
We are bringing the initiative to optimize the current User Experience and User Interface of the CNCF Landscape. We are aware this is a valuable resource for the community and your collaboration is very important for us.

The scope of this project consists in:

1. UX Research - With your

[2022-02-16 18:41] lizrice opened #2477 "Hide the headcount, funding and HQ for CNCF projects"
The CNCF-owned projects all show that they are HQ'd in San Francisco, have $3M of funding and a headcount of 11-50. Maybe it makes some sense to show this kind of information when it's a vendor project, but it doesn't make sense for the ones the CNCF owns! Could we hide those fields in that case?
<img width="1671" alt="Screenshot 2022-02-16 at 18 32 34" src="https://user-images.githubusercontent.c

[2022-02-18 10:25] Morriz commented on #2263
[Happening again](https://github.com/cncf/landscape/pull/2480):
[code]

[2022-02-21 15:10] caniszczyk opened #2487 "License detection broken for KICS"
For some reason https://github.com/cncf/landscape/pull/2486 the license appears to not be detected properly.

Is this some type of caching issue?

@AndreyKozlov1984

[2022-02-21 16:18] rafaela-soares commented on #2487
Hello again, @caniszczyk 🙂

For some reason, it did not work in the preview. However, it is working https://landscape.cncf.io/?grouping=category&selected=kics.

[2022-02-21 22:25] AndreyKozlov1984 commented on #2487
I'll check what is wrong, I've noticed some flashing when a certain card is open.

[2022-02-24 20:32] caniszczyk commented on #2454
@AndreyKozlov1984 if you have bandwidth can you work on this?

[2022-02-24 21:30] AndreyKozlov1984 commented on #2454
Yes

Sent from my iPhone

[2022-02-24 21:42] AndreyKozlov1984 commented on #2454
I'll make it in a separate branch, let me check if these companies are already in the list or I need to add them to the landscape.yml first!

[2022-02-25 15:06] AndreyKozlov1984 commented on #2454
No ideas about subsections, I'll call it "Continious Optimization" too, and I'll readjust other sections a bit

[2022-02-25 15:59] caniszczyk commented on #2454
SGTM

Let's keep it simple first for review. We may have to move things around as the parent section is getting large

[2022-02-25 16:06] AndreyKozlov1984 commented on #2454
Ok, will update you later today!

[2022-02-25 23:22] AndreyKozlov1984 commented on #2454
https://deploy-preview-2495--landscape.netlify.app/ - a first preview, is this ok? I just added one item (spot.io) for now

![image](https://user-images.githubusercontent.com/230982/155816014-ef726a73-05d2-4a43-b13a-7d8e6d1c9aa3.png)

[2022-02-26 22:10] beriberikix commented on #2387
What I'm missing is cloud native projects that support Wasm. Anything with Envoy, OPA, redpanda, ScyllaDB, etc.

Alternatively, and this is probably a bad idea, what if we added a "Wasm" field to the Cloud Native Landscape cards?

[2022-02-28 20:17] sasakrsmanovic commented on #2387
Hi - would it be possible to also consider including Uno Platform on the listing https://github.com/unoplatform/uno

[2022-02-28 20:18] caniszczyk commented on #2387
You can send a pull request, just update the landscape.yml in the repo :)

On Mon, Feb 28, 2022 at 2:17 PM Sasha Krsmanovic ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-03-01 14:52] AndreyKozlov1984 commented on #2454
Added Densify

[2022-03-01 14:58] AndreyKozlov1984 commented on #2454
@caniszczyk Turbonomic is already in observability and analyzes, we can not make duplicates!

[2022-03-01 15:03] AndreyKozlov1984 commented on #2454
Ok, I'll move it to a new place!

[2022-03-15 01:19] wubx opened #2520 "Suggestion to add Databend logo"
Databend is a Cloud-native Warehouse, which is inspired by the design of Clickhouse & Snowflake.
Github Repo: https://github.com/datafuselabs/databend
Logo: https://raw.githubusercontent.com/datafuselabs/databend/main/website/static/img/logo/databend-logo-vertical.svg
For more details, please check https://databend.rs/  and https://weekly.databend.rs

[2022-03-24 14:20] chen-keinan opened #2536 "Starboard project do not apear as open source project"
I have added `Starboard` project under `Security & Compliance`.

The `Starboard` project is an open source project however it do not appear as one on landscape.

Pls advice on what is missing

[2022-03-27 09:29] chen-keinan commented on #2536
closing , probably was caching issue

[2022-03-27 09:29] #2536 closed

[2022-04-22 08:04] Rubensky2021 opened #2560 "a"

[2022-04-22 08:05] Rubensky2021 commented on #2560
Location
- - [ ] [[]()
- [ ] ]()

[2022-04-27 09:05] xmulligan opened #2570 "Viewing and analysing historical data"
I would like to trace the growth of the cloud native landscape. Is it possible to get snapshots of the landscape at various points to pull the data over time?

[2022-05-19 18:29] Arijit1000 commented on #2570
We can make a separate section for tracing the growth of the cloud-native landscape.

[2022-05-19 18:32] Arijit1000 commented on #2487
Yes, I also noticed the flashing issue while opening the card. Any idea how to solve this?

[2022-05-19 18:33] AndreyKozlov1984 commented on #2487
I am pretty sure that had been fixed, please check again.
Or attach a video / steps how to reproduce the issue.

[2022-05-19 18:38] Arijit1000 commented on #2560
Hey, @Rubensky2021 can you please describe the issue so that we can work on it?

[2022-05-20 20:18] Arijit1000 commented on #2487
@AndreyKozlov1984 Yes, it is fixed now. The flashing issue doesn't pop up now.

[2022-05-21 08:07] #2487 closed

[2022-05-21 08:08] AndreyKozlov1984 commented on #2570
Hi, absolutely all data is stored in this repository, and it is updated daily by a CNCF-Bot !

[2022-05-21 08:08] #2560 closed

[2022-05-21 15:45] Arijit1000 commented on #2570
Great!

[2022-05-27 09:14] xmulligan commented on #2570
Thanks!

[2022-05-27 09:14] #2570 closed

[2022-05-30 16:44] brancz commented on #2390
Sounds good! How do we move forward?

[2022-05-30 23:20] caniszczyk commented on #2390
@AndreyKozlov1984 can you work on this :)?

[2022-07-05 16:41] caniszczyk commented on #2402
@luc99hen yes you can use the sub domain, just open a servicedesk ticket if you need help

https://github.com/cncf/servicedesk

[2022-07-05 16:41] #2402 closed

[2022-07-11 08:49] bishal7679 opened #2655 "`with` and `without` link is invalid and broken in README.md"
1. `with` and `without` link is invalid and broken in README.md

![Screenshot (185)](https://user-images.githubusercontent.com/70086051/178225551-c0c87d28-37e9-4b46-a75f-e42919322860.png)

![Screenshot (184)](https://user-images.githubusercontent.com/70086051/178224255-2ec049d0-2f79-4d69-a758-506c96f33376.png)

2. The file path  src/components/MainContent2.js looks not so readable

![Screenshot (1

[2022-07-11 08:50] bishal7679 commented on #2655
@caniszczyk Can I work on this issue??

[2022-07-11 13:57] caniszczyk commented on #2655
sure but keep @AndreyKozlov1984 in the loop

[2022-07-11 18:50] bishal7679 commented on #2655
@caniszczyk you mean I will ping @AndreyKozlov1984 for the next time?

[2022-07-14 07:17] stephenlinzx opened #2667 "about new product to cncf landscape"
Should a product/project be open-sourced at first before it can be added to cncf landscape?

![image](https://user-images.githubusercontent.com/46123134/178923952-bfc7ed47-08b0-4833-a735-8950880260ee.png)

[2022-07-26 01:04] donaldliu opened #2687 "the landscape appears not updated"
Some members have updates their entries on Crunchbase but the landscape appears not able to reflect the changes.

Taken a look at https://github.com/cncf/landscape:
===
processed_landscape.yml
Automated update by CNCF-bot
6 days ago
===

This file was updated 6 days ago (was automatically updated daily before) … wondering if it is the reason.

[2022-07-26 04:16] donaldliu commented on #2520
(Databend) can refer to https://github.com/cncf/landscape#new-entries.

[2022-07-26 12:51] caniszczyk commented on #2687
@AndreyKozlov1984 can you investigate?

[2022-08-02 06:10] donaldliu commented on #2687
a friendly ping.

[2022-08-03 01:45] kevin-wangzefeng opened #2694 "Confusing information of Tetragon in cncf.io/projects"
It appears that Tetragon listed in cncf.io/projects as an incubating project[1] and with description "Tetragon was accepted to CNCF on October 13, 2021 and is at the Incubating project maturity level."[2]

Tetragon was launched in May, 2022[3], as a subproject[4] of Cilium and didn't go through CNCF project donation/accpetance process.

AFAIK, subprojects don't listed in the cncf.io/projects list.

[2022-08-05 14:01] AndreyKozlov1984 commented on #2687
Checking why automatic update failed.

[2022-08-05 14:40] AndreyKozlov1984 commented on #2687
`FATAL: no headquarter addresses for infracost at https://www.crunchbase.com/organization/infracost`

 Someone needs to update the crunchbase entry
@taylorwaggoner  or @caniszczyk  can you do it ?

[2022-08-05 15:33] taylorwaggoner commented on #2687
@AndreyKozlov1984 I added a HQ to their Crunchbase, thanks

[2022-08-05 16:44] AndreyKozlov1984 commented on #2687
I am checking if this helps, so far that looks like the only blocking issue

[2022-08-08 01:00] #2687 closed

[2022-08-08 01:00] donaldliu commented on #2687
Thx.

[2022-08-09 17:42] cartermp opened #2707 "Allow for duplicate entries, or at least duplicate repo_names"
(filing issue here since there's no clear path to take in a PR)

OpenTelemetry is currently classified as tracing. However, as a project it spans three signal types so far (tracing, metrics, and logs --> which is tracing, monitoring, and logging in the landscape, respectively) with more in the pipeline.

However, there's no good way to represent that a project spans categories so far. The idea I h

[2022-08-19 10:14] wubx commented on #2520
https://github.com/cncf/landscape/pull/2721

[2022-08-19 15:22] #2520 closed

[2022-09-06 17:01] ADITYADAS1999 opened #2732 "Link broken in Cloud Native Landscape README.md"
Link broken in Cloud Native Landscape README.md, Non-Updated Items section

https://landscape.cncf.io/category=provisioning,runtime,orchestration-management,app-definition-and-development,paa-s-container-service,serverless&format=card-mode&grouping=no&license=open-source&sort=latest-commit

https://landscape.cncf.io/category=provisioning,runtime,orchestration-management,app-definition-and-developm

[2022-09-06 20:36] amye opened #2734 "Subprojects need an indicator in the landscape"
See #2694, there's probably lots more out here.

We need a `project: subproject` and likely `project parent: project` indicator because right now, several subprojects of projects are getting added to the project pages.
We need a way to filter these out and make it less confusing for everyone.

[2022-09-06 20:37] amye commented on #2734
Tagging @AndreyKozlov1984 to look into, I know this is a problem we're going to continue to have 😂

[2022-09-06 21:31] AndreyKozlov1984 commented on #2734
Can you provide a bit more details with examples and screenshots so I can get this done ?

[2022-09-06 21:50] amye commented on #2734
I mean, #2694 as referenced describes the problem.
Projects are adding 'incubating' to their listing, even though they're sandbox projects.

[2022-09-09 09:44] SUGARXUST commented on #2732
Hey @ADITYADAS1999 I looked into it can you please confirm if this is what you were looking for? I'll make a PR henceforth.

https://landscape.cncf.io/card-mode?category=provisioning,runtime,orchestration-management,app-definition-and-development,paa-s-container-service,serverless,observability-and-analysis,runtime,installable-platform&license=open-source&grouping=no&sort=latest-commit

https://la

[2022-09-09 11:40] ADITYADAS1999 commented on #2732
Butter be discuss the issue on slack or group before make a PR

[2022-09-09 11:54] SUGARXUST commented on #2732
Can you share the link for the slack group?

[2022-09-13 13:18] cjyabraham commented on #2734
Any updates on this one @AndreyKozlov1984 ?

[2022-09-13 14:09] AndreyKozlov1984 commented on #2734
I don't think this task is completely clear to me, which cards are rendered improperly ?

[2022-09-13 14:40] cjyabraham commented on #2734
There are certain projects that are listed on landscape that are actually _subprojects_ of another project. Subprojects need to be specified as such in landscape.yml.

Sounds like @amye suggests having the value `project: subproject` for a subproject and a separate attribute of `project parent: parent project name`. Does that make sense?

Once subprojects are labeled this way then I will be able t

[2022-09-13 20:45] AndreyKozlov1984 commented on #2734
Ok, I need to check how subprojects are implemented, we already have `extra` attributes where we can specify this property
@amye and @cjyabraham can we use `extra` attributes here, like `extra: { parent: 'Kubernetes' }` to show that we have a parent?

[2022-09-13 20:49] cjyabraham commented on #2734
Seems fine from my POV but I don't really know what the pros/cons are with having it in the `extra` attribute.

[2022-09-13 20:55] amye commented on #2734
It is definitely an 'extra' because it's so rare!

[2022-09-13 21:00] AndreyKozlov1984 commented on #2734
so you can use `parent_project: Kubernetes` inside the `extra` and this will be displayed for the selected item automatically, and if you want to fetch api data - you'll be able to skip all items which have `extra: { parent_project: ... }` field

[2022-09-13 21:01] AndreyKozlov1984 commented on #2734
Give me an example project which is in fact a subproject of a different project, I'll make this change and you, @cjyabraham will be able to get this data via API

[2022-09-13 21:07] cjyabraham commented on #2734
Hubble is a subproject of Cilium

[2022-09-13 21:21] AndreyKozlov1984 commented on #2734
@cjyabraham , I added the change. If you try to get api data you'll see parent_project in the `extra` field and then you can skip this project

https://landscape.cncf.io/?selected=hubble
https://github.com/cncf/landscape/blob/master/landscape.yml#L6340

[2022-09-13 21:28] cjyabraham commented on #2734
Ok, sounds fine. So what about the `project: incubating` line? That info is kind of redundant because I assume the parent project would set the maturity level. Is that right @amye? In which case, should we not have that line at all?

[2022-09-13 21:29] amye commented on #2734
Correct, that line should not be included.

[2022-09-13 21:31] cjyabraham commented on #2734
Ok, finally, @amye do you have a list of all projects which are in fact subprojects and their respective parent projects? I can update the landscape.yml to correct all their entries now...

[2022-09-13 21:34] amye commented on #2734
I'll go through and update based on the logos that shouldn't be included, we use the landscape as the source of truth

[2022-09-13 21:38] amye commented on #2734
https://github.com/cncf/landscape/pull/2751 resolves

[2022-09-14 17:59] cjyabraham commented on #2734
Ok. How about Hubble? Isn't that a subproject too? And are there any more?

[2022-09-16 11:38] AndreyKozlov1984 commented on #2734
Is anything required from me here ?

[2022-09-16 12:09] #2732 closed

[2022-09-16 13:57] cjyabraham commented on #2734
No it was a question for @amye

[2022-09-16 15:11] amye commented on #2734
Hubble is a subproject, missed that one

[2022-09-16 15:51] cjyabraham commented on #2734
Ok, I've taken care of those then. This issue is now done. Thanks for your help.

[2022-09-16 15:51] #2734 closed

[2022-10-06 17:39] reegnz opened #2808 "Cannot easily search sandbox projects with browsers built-in page search"
As discovered in [#924](https://github.com/cncf/toc/issues/924) one cannot easily search for projects by name on the CNCF website.

One should be able to search for Sandbox, Incubated or Graduated projects easily on the page by Ctrl+F. I find that this makes navigating the page a little bit complicated.

I created an issue because I cannot simply edit landscape.yaml to fix this one.

[2022-10-09 13:12] hs-07 opened #2811 "CNCF Landscape Guide page is not responsive properly"
I would to like work over the improvement over the UI design of CNCF landscape [Guide page](https://landscape.cncf.io/guide), as its orientation in mobile view is not proper.
Here is the example screenshot below to ellaborate my issue.
![image](https://user-images.githubusercontent.com/87127387/194758704-18bcc3da-3d9f-442a-a669-4a167a1235c0.png)
I request to assign the issue to me
Thank You

https

[2022-10-10 14:18] caniszczyk commented on #2811
sure go for it!

[2022-10-16 09:13] psancheti110 commented on #2811
Hi @hs-07,
Are you still working on this issue?

if not, I would like to take this on.

[2022-10-16 13:28] hs-07 commented on #2811
@psancheti110
Yes I am working over it.

[2022-10-16 13:29] hs-07 commented on #2811
@psancheti110
By the way, do you know about Docker, kubernetes and Golang?

[2022-10-28 17:25] caniszczyk opened #2834 "Add TAGs to Landscape for projects"
Every CNCF project should be under a TAG, we should add that data in the extra field in the landscape.

We should then surface that in the UI

[2022-10-28 17:25] caniszczyk commented on #2834
cc: @AndreyKozlov1984

an example would be "CNCF TAG Runtime" is associated with these projects
https://github.com/cncf/tag-runtime#scope

[2022-10-30 14:45] hs-07 commented on #2811
@caniszczyk
sir i am facing problem in running the project locally
Can you please help me?

[2022-11-01 22:31] caniszczyk opened #2840 "Update landscape to include graphic for CloudNativeSecurityCon 2023"
We should swap out the KCCNA graphic

[2022-11-04 17:07] caniszczyk opened #2850 "Add feature to filter projects that are "specifications""
Something like https://landscape.cncf.io/card-mode?bestpractices=no but for projects that are specs

We probably need an attribute like "specification: true" and filter Something like https://landscape.cncf.io/card-mode?specification=yes

[2022-11-04 20:42] AndreyKozlov1984 commented on #2850
How can I find that a certain project is a specification ?

[2022-11-04 20:48] caniszczyk commented on #2850
We don't specific them... but I'd start with

CNI
OpenFeature
OpenTelemetry
TUF
SPIFFE
Buildpacks
in-toto
OpenMetrics

On Fri, Nov 4, 2022 at 3:43 PM Andrey Kozlov ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-11-04 20:57] AndreyKozlov1984 commented on #2850
Do you mean that there is a list of categories or even subcategories which should be considered a specification?
Can you mark then with extra fields to make filtering easier ?

[2022-11-04 20:57] AndreyKozlov1984 commented on #2850
I don't think that hardcoding a list of categories is a proper way

[2022-11-04 21:00] caniszczyk commented on #2850
It's not really a category, but "type of project"

Projects can be "code" based or "spec" based

CNI is mostly a spec, very little code, e.g.,
https://github.com/containernetworking/cni/blob/main/SPEC.md

On Fri, Nov 4, 2022 at 3:57 PM Andrey Kozlov ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-11-04 21:04] AndreyKozlov1984 commented on #2850
Ok, I mean, there are basically two ways: that people will mark a single project as a specification. I would add "extra: { specification: true }"

[2022-11-04 21:05] caniszczyk commented on #2850
Yes, I think we should do that.

As long as we can filter the landscape by that attribute that would work

On Fri, Nov 4, 2022 at 4:04 PM Andrey Kozlov ***@***.***>
wrote:

--
Cheers,

Chris Aniszczyk
https://aniszczyk.org

[2022-11-08 21:45] osamahassani05355881581 opened #2858 "> @amye - hi 👋 for the website transfer, can I get an email address to enter for the LF stakeholder?"
Use me! amye@linuxfoundation.org is fine!

_Originally posted by @amye in https://github.com/cncf/toc/issues/880#issuecomment-1307737116_

https://github.com/cncf/landscape/issues/2858#tasklist-block-906086c9-c02b-4563-823f-82dba0558607

[2022-11-14 08:40] AndreyKozlov1984 commented on #2850
Ok, @caniszczyk , add `specification: true` or `specification: "true"` or `specification: "yes"` to the `extra` fields and the filter will work. I tested locally, please tell me if there is an existing item to which I can add the flag!

[2022-11-15 23:48] #2858 closed

[2022-11-23 05:23] hs-07 commented on #2811
@caniszczyk
sir while i am running the application on microsoft azure server, in the terminal it is showing following statements:
![8b159811-2fb3-4203-912d-622874bc81a6](https://user-images.githubusercontent.com/87127387/203474046-01ac83fb-2a43-49c3-b4c4-174378017ed0.jpg)

But when i am opening my localhost , the website isnt running there.

Can you please help me with the same?